<div class="modal-header text-center">
    <h5 class="modal-title text-center">Agregar Idioma</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="needs-validations" novalidate>
      
      <div class="mt-4">
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Idioma">
        </mat-form-field>
        <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Nivel</mat-label>
            <select matNativeControl required>
                <option value="" selected disabled>Seleccionar opcion</option>
                <option value="">Avanzado</option>
                <option value="">Intermedio</option>
                <option value="">Basico</option>
            </select>
        </mat-form-field>    
    </div>
      <div class="row text-center">
        <div class="col">
          <div class="form-group mt-3 mb-0">
            <button class="btn btn-primary mr-3 " (click)="guardar()">
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="closeModal()" >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  