<app-breadcrumb [title]="'Editar Libro de tareas'" [items]="['Seguridad','Libro de tareas']" [active_item]="'Crear'">
</app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" value="Organizar equipos" class="form-control" rows="3" maxlength="255"
                                        onkeyup="this.value=this.value.toUpperCase();">
                                    <div class="">
                                        MAX 255 CARACTERES
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Descripci&oacute;n</label>
                                    <input type="text" value="Tarea que determina como organizar equipos ante una emergencia" class="form-control" rows="3" maxlength="255"
                                        onkeyup="this.value=this.value.toUpperCase();">
                                    <div class="">
                                        MAX 255 CARACTERES
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right mb-4">
                            <button class="btn btn-primary" (click)="add()">
                                <div class="d-flex align-middle">
                                    <mat-icon>add</mat-icon>Agregar Tarea
                                </div>
                            </button>
                        </div>
                        <div *ngFor="let item of cantidades">
                            <mat-form-field class="col-lg-6" appearance="outline">
                                <mat-label>Nombre de tarea</mat-label>
                                <input matInput type="text" [value]="item.nombre" placeholder="Ingrese nombres">
                            </mat-form-field>
                            <mat-form-field class="col-lg-6" appearance="outline">
                                <mat-label>Descripcion de tarea</mat-label>
                                <input matInput type="text" [value]="item.descripccion" placeholder="Ingrese descripccion">
                            </mat-form-field>
                        </div>
                        

                        <div class="row text-center">
                            <div class="col">
                                <div class="form-group mb-0">
                                    <div class="form-group mb-0">
                                        <button type="button" class="btn btn-primary mr-3" (click)="guardarPermiso()">
                                            <span><i class="fa fa-save"></i> Actualizar</span>
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="cancelarPermiso()"><i
                                            class="fa fa-ban"></i> Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>