<app-breadcrumb [title]="'Cambiar Password'" [active_item]="'Cambiar Password'"></app-breadcrumb>


<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
            <div align="center">
                <div class="col-lg-6">
                    <mat-form-field class="col-ls-12" appearance="outline">
                        <mat-label>Password Actual</mat-label>
                        <input matInput #actual maxlength="20" [(ngModel)]="vcPasswordActual" required placeholder="Ingrese password...">
                        <mat-hint align="start"><strong></strong> </mat-hint>
                        <mat-hint align="end">{{actual.value.length}} / 20</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-ls-12" appearance="outline">
                        <mat-label>Nuevo Password</mat-label>
                        <input matInput #nuevo maxlength="20" [(ngModel)]="vcPasswordNuevo" required placeholder="Ingrese nuevo password...">
                        <mat-hint *ngIf="onValida()" style="color: red;" align="start"><strong>Password no coincide</strong> </mat-hint>
                        <mat-hint align="end">{{nuevo.value.length}} / 20</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-ls-12" appearance="outline">
                        <mat-label>Confirmar Nuevo Password</mat-label>
                        <input matInput #confirma maxlength="20" [(ngModel)]="vcPasswordNuevoValidar" required placeholder="Ingrese confirmar nuevo password...">
                        <mat-hint *ngIf="onValida()" style="color: red;" align="start"><strong>Password no coincide</strong> </mat-hint>
                        <mat-hint align="end">{{confirma.value.length}} / 20</mat-hint>
                    </mat-form-field>
                    <div align="center">
                        <button (click)="onLimpiar()" class="m-1" mat-raised-button color="warn">Cancelar</button>
                        <button (click)="onSave()" [disabled]="onValida() || onValidaVacio()" class="m-1" mat-raised-button color="primary">Cambiar Password</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>